/* DROP DOWN MENU*/
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
/* --------------- */

/* FONT TYPE FOR LOGO */
@font-face {
  font-family: myFirstFont;
  src: url("../Fonts/AIFRAGME.TTF");
}

.diffont {
  font-family: myFirstFont;
}
/* ------------- */
.bgbetter {
  background-color: rgb(125, 147, 180);
}
