body {
  background: rgba(190, 169, 169, 0.9);
  background-image: url("../pictures/giris.jpg");
}
.giriskutusu::hover {
  background-image: url("../pictures/giris.jpg");
}
.giriskutusu {
  opacity: 0.8;
}
body::after {
  background: rgba(190, 169, 169, 0.9);
  background-image: url("../pictures/giris.jpg");
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}
.no-image {
  width: 200px;
  height: 200px;
}
span {
  opacity: 0;
  transition: all 0.02s ease;
}
span.fadee {
  opacity: 1;
}
.keke {
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: fixed;
}
.wwww {
  width: 100%;
  z-index: 2;
}

/* berke burayı ben yazdım bdropzone ile alakalı table içerisindeki resmin
 boyurunu ayarlamak amacı ile yazdım haberin olsun eğer comment ve altındaki
  css hala duruyorsa silmeden önce dropbox_v viewindeki table için bişeler ayarla öyle devam et :* love u  */

   td img{
     width: 150px;
   }
   tr td:first-child{
     width: 150px;
   }