/* DROP DOWN MENU*/
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
/* --------------- */

/* FONT TYPE FOR LOGO */
@font-face {
  font-family: myFirstFont;
  src: url("../Fonts/AIFRAGME.TTF");
}
@font-face {
  font-family: secondOne;
  src: url("../Fonts/Painter.ttf");
}
@font-face {
  font-family: fancyy;
  src: url("../Fonts/Pangolin-Regular.ttf");
}
.diffont {
  font-family: secondOne;
}
/* ------------- */
.bgbetter {
  background-color: rgba(112, 112, 112, 0.8);
}
.text-deneme {
  color: #ffa5a5 !important;
}
.text-deneme-bg {
  background-color: #b98080;
}
.text-ekle-bg {
  background-color: #809252;
}
.text-sil-bg {
  background-color: #ff5252;
}
.text-edit-bg {
  background-color: #ffd252;
}
.text-pubrent-bg {
  background-color: rgba(78, 151, 149, 0.801);
}
.fancy-font {
  font-family: fancyy;
}
.pointer {
  cursor: pointer;
}
